body {
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.content-area {
  flex-grow: 1;
  display: flex;
  position: relative;
  overflow: hidden;
}
.content-area > main {
  flex-grow: 1;
}
.content-area > aside {
  padding: 1rem;

  position: absolute;
  right: 0px;
  translate: 80%;
}
.content-area > aside:hover {
  translate: 0%;
}

@media (min-width: 400px) {
  .content-area > aside {
    position: initial;
    translate: 0%;
  }
}

/* Utility */
.bg-primary {
  background-color: burlywood;
}

.bg-accent {
  background-color: coral;
}

.transition-quickly {
  transition: all 200ms ease-in-out;
}

.transition-slowly {
  transition: all 400ms ease-in-out;
}

.floating {
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grow {
  flex-grow: 1;
}

/* Box Styling */
/* Default always active styling */
.box {
  width: 100px;
  height: 100px;
  background-color: thistle;
  transition: all 200ms linear;
}

/* Only active on screens broader than 200px */
@media (200px < width < 399px) {
  .box {
    width: 200px;
    background-color: brown;
  }
}

@media (min-width: 400px) {
  .box {
    background-color: turquoise;
  }
}
